<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
	
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 
<style>
.header{
	background-color: #f1f1f1;
	overflow: hidden;	
}
.header h1{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
    font-family: 'Raleway', sans-serif;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #3d3d3d;
  color: white;
}
</style>

</head>
<body>
	<div class="header">
		<h1>Vehicle Bug</h1>
	</div>
	<table style="width: 100%" id="t01">
		 <tr>
 	<th>ID</th>
    <th>Timestamp</th>
    <th>Image Name</th> 
    <th>Claim</th>
    <th>Prediction</th>
  </tr>
		{% for x in user_det%}

		<tr>
			<td>{{x[0]}}</td>
			<td>{{x[1]}}</td>
			<td>{{x[2]}}</td>
			<td>{{x[3]}}</td>
			<td>{{x[4]}}</td>
		</tr>
       {% endfor %}
	</table>

</body>
</html>